body {
  background-color: #ecf0f1;
  font-family: 'Roboto', sans-serif;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;

  header{
    width: 50rem;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }
  main{
    width: 50rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    section {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      #playField {
        display: flex;
        td {
          width: 2rem;
          height: 2rem;
          border: 1px solid black;

          display: flex;
          align-items: center;
          justify-content: center;
        }
        .revealed {
          background-color: blue;
        }
        .revealed-bomb {
          background-color: red;
        }
      }
    }

  }
  footer{
    width: 50rem;
    display: flex;
    justify-content: center;
  }



  //@media (max-width: 768px) {
  //  header,
  //  main,
  //  footer {
  //    width: 95%;
  //    flex-direction: column;
  //    margin-top: 1rem;
  //  }
  //
  //  main section #playField {
  //    justify-content: center;
  //    td {
  //      width: 4em;
  //      height:4rem;
  //    }
  //  }
  //}
}